* {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

html {
  background: #F4F5F6;
  font: 12px/1.4 "Helvetica Neue", "Ubuntu", "Roboto", "Segoe UI", "Lucida Grande", Arial, sans-serif;
  color: #5A5B5C;
}

body {
  max-width: 1024px;
  margin: 0 auto;
}

article {
  background: #FFF;
  padding: 2rem 0;
  border-left: 1px solid #EAEBEC;
  border-right: 1px solid #EAEBEC;
}

article>:first-child {
  margin-top: 0;
}

article>:last-child {
  margin-bottom: 0;
}

table {
  margin: .8rem auto 1.2rem auto;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #DADBDC;
  padding: .2rem .8rem;
}

th {
  background: #F4F5F6;
  padding: .4rem .8rem;
}

a {
  border-bottom: 1px solid #09C;
  color: #5A5B5C;
}

a:hover {
  color: #09C;
}

img {
  border: 0;
  max-width: 100%;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

p {
  margin: 1rem 0;
}

li {
  margin: .2rem 0;
}

h1, h2, h3, h4, h5, h6, pre, ul, ol, blockquote {
  margin: 2em 0 1em;
}

h1, h2, h3, h4, h5, h6, pre, p, ul, ol, blockquote {
  padding: 0 2rem;
}

ul, ol {
  list-style-position: inside;
}

h1 {
  font-size: 4rem;
  font-weight: 100;
  border-bottom: 1px solid #EAEBEC;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-weight: bold;
}

hr {
  margin: 2rem 0;
  border-bottom: 1px solid #EAEBEC;
}

blockquote {
  padding: 2rem;
  font-family: georgia, serif;
  font-size: 1.2rem;
  font-style: italic;
  border-top: 1px solid #EAEBEC;
  border-bottom: 1px solid #EAEBEC;
  background: #FAFBFC;
}

blockquote:before {
  content: "\201C";
  position: absolute;
  font-size: 4rem;
  margin: -1rem 0 0 -1rem;
  font-family: georgia, serif;
  color: #09C;
}

code, pre {
  font-family: Monaco, "Andale Mono", "Ubuntu Mono", Consolas, monospace;
}

code {
  border: 1px solid #EAEBEC;
  background: #F7F8F9;
  color: rgba(0, 0, 0, 0.75);
  padding: 0 .2rem;
  font-size: .9rem;
  border-radius: .2rem;
}

pre {
  overflow: auto;
  margin-bottom: 1.6rem;
  padding: 2rem;
  font-size: .9rem;
  border-top: 1px solid #EAEBEC;
  border-bottom: 1px solid #EAEBEC;
  background: #F7F8F9;
  white-space: pre;
}

pre code {
  background: none;
  border: 0;
  padding: 0;
}

@media screen and (min-width: 480px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}

@media print {
  html, code, pre code, h1, h2, h3, h4, h5, h6 {
    color: #000;
  }
  table, pre, blockquote, img {
    page-break-inside: avoid;
  }
}
